<div class="page" data-page="equipLinkage_en" id="equipLinkage_en">


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1">Equipment linkage</div>
            <div class="right">
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                    <p class="title_4">扫一扫</p>
                </a>
            </div>
        </div>
    </div>




    <div class="page-content">
        <div class="equipLinkageContainer">
            <div class="subnavbarTabel row no-gap">
                <a class="col-33" >
                    Trigger device 
                </a>
                <a class="col-33">
                    Linkage equipment
                </a>
                <a class="col-33">
                    Remarks
                </a>                
            </div>
            <div class="equipLinkageContent">
                <section class="equipGroupPublic" id="equipLinkage_set">
                    <ul class="publicTable">
                    </ul>
                </section>
                <div class="scheduleRightBottomBtn transformReportingMenu">
                    <a class="link" href="#" id="equipLinkage_set_nav" >
                         <span>
                             <button onclick='newlyBuildLinkage_en(" ",2);'  TrID="getMaxID_en()" TrRow = "" >Newly added</button>
                         </span>
                        <img src="/Image/phone/directionjt.png" alt="" onclick="transformReportingObstaciesMenu1_en()"/>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>