<div class="page" data-page="home_en" id="home_en">



    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1"></div>
            <div class="right">
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                    <p class="title_4">扫一扫</p>
                </a>
            </div>
        </div>
    </div>



    <div class="page-content mainDiv">
        <!-- 实时快照 -->
        <div id="homeContents">
            <ul class="charts-block">
            </ul>
        </div>
    </div>
</div>
