

    <div data-page="UserInfor_en" class="page" id="UserInfor_en">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left sliding auth_name_get title_1" >个人信息</div>
                <div class="right">
                    <a href="#" onclick="RichScan()" id="scan"> 
                        <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                        <p class="title_4">扫一扫</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="list-block list" style="margin:0;">
                <ul>
                    <li class="item-content">
                        <div class="item-inner" style="text-align:center;">
                            <div class="item-title" id="userInfors"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
