

    <div data-page="videoControl_en" class="page" id="videoControl_en" style="background: #1b0e0e;">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left sliding auth_name_get title_1" >Video surveillance</div>
                <div class="right">
                    <a href="#" onclick="RichScan()" id="scan"> 
                        <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                        <p class="title_4">扫一扫</p>
                    </a>
                </div>
            </div>
        </div>




        <div class="page-content">
           <div id="container"></div>
        </div>
    </div>
