<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>海纳云物联科技智慧社区生态圈</title>
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper-4.3.3.min.css" />
		<link rel="stylesheet" type="text/css" href="css/animations.css"/>
		<link rel="stylesheet" type="text/css" href="css/indexMap.css" />
	</head>

	<body>
		<div class="indexMap">
			<div id="container"></div>
			<div class="cloud-seal-header">
				<div class="cloud-seal-title">
					<p>海纳云物联科技智慧社区生态圈</p>
				</div>
			</div>
			<div class="left-panel"></div>

			<div class="right-panel"></div>
			
			<div class="left-panel-detail">
				<div class="panel-content">
					<div class="half-box">
						<div class="box-title">
							<div class="box-title-icon">
								<img src="img/title_icon.png" alt="" />
							</div>
							<span>项目面积</span>
						</div>
						<div class="box-content">
							<div class="box-img">
								<span class="horn left-top-horn"></span>
								<span class="horn right-top-horn"></span>
								<span class="horn left-bottom-horn"></span>
								<span class="horn right-bottom-horn"></span>
								<img src="img/index/1.png" alt="" />
							</div>
							<div class="box-desc">
								云谷项目总建筑面积135万㎡，占地35公顷，总投入高达200亿元。项目共分为两期进行开发建设，业态涵盖产业办公、智慧住宅、商业配套、酒店、学校等，是青岛市“十三五”规划重点扶持项目
							</div>
						</div>
					</div>

					<div class="half-box">
						<div class="box-title">
							<div class="box-title-icon">
								<img src="img/title_icon.png" alt="" />
							</div>
							<span>系列介绍</span>
						</div>
						<div class="box-content">
							<div class="box-img">
								<span class="horn left-top-horn"></span>
								<span class="horn right-top-horn"></span>
								<span class="horn left-bottom-horn"></span>
								<span class="horn right-bottom-horn"></span>
								<img src="img/index/3.png" alt="" />
							</div>
							<div class="box-desc">
								宝玺者何？天子所佩日玺，无玺书则王言无以达四海。玺，君子之信物也，象征传承、尊贵、大气。同时也象征海尔的精工品质，一砖一瓦雕刻、研磨的匠心产品；将浪漫风情法式建筑艺术与生活美学完美融合，刻画出低调奢华的建筑形态。
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="right-panel-detail">
				<div class="panel-content">
					<div class="half-box">
						<div class="box-title">
							<div class="box-title-icon">
								<img src="img/title_icon.png" alt="" />
							</div>
							<span>建筑理念</span>
						</div>
						<div class="box-content">
							<div class="box-img">
								<span class="horn left-top-horn"></span>
								<span class="horn right-top-horn"></span>
								<span class="horn left-bottom-horn"></span>
								<span class="horn right-bottom-horn"></span>
								<img src="img/index/2.png" alt="" />
							</div>
							<div class="box-desc">
								海尔地产深耕青岛，将智慧化居住理念和品质战略高度升级，定制专属岛城精品生态智居 —— 项目采用新古典主义，兼容了华贵典雅 与时尚现代的风格，处处体现业主的尊贵感和身份。
							</div>
						</div>
					</div>

					<div class="half-box">
						<div class="box-title">
							<div class="box-title-icon">
								<img src="img/title_icon.png" alt="" />
							</div>
							<span>地理位置</span>
						</div>
						<div class="box-content">
							<div class="box-img">
								<span class="horn left-top-horn"></span>
								<span class="horn right-top-horn"></span>
								<span class="horn left-bottom-horn"></span>
								<span class="horn right-bottom-horn"></span>
								<img src="img/index/4.png" alt="" />
							</div>
							<div class="box-desc">
								扼据青岛两大城市主干道海尔路与黑龙江路交汇处，张村河生态湿地旁，受到青岛“曼哈顿”金家岭金融区及黑龙江路商务带的双重辐射，成为片区极具潜力的价值洼地。周边多条公交线汇聚， M2/M3双地铁环伺；近邻崂山商圈、新都心商圈、李沧商圈，吃喝玩乐一站式，纵享繁华生活。
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="footer-panel" id="footerPanelId">
				<ul class="main-content">
				</ul>
			</div>
		</div>
		
		<script src="js/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://webapi.amap.com/maps?v=1.4.15&key=e1b3a30a686517620104842dfc7a10c6"></script>
		<!-- UI组件库 1.0 -->
		<script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
		<script src="js/swiper-4.3.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/scrollForever.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/indexMap.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>