  <div data-page="MessageList" class="page" id="MessageList">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="left sliding auth_name_get title_1" id="popup_titles"></div>
                <div class="right">
                    <a href="#" onclick="RichScan()" id="scan"> 
                        <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                        <p class="title_4">扫一扫</p>
                    </a>
                </div>
            </div>
        </div>



        <div id="MessageList_ref" class="page-content ptr-content" data-ptr-distance="55">
            <!-- 默认的下拉刷新层 -->
            <div class="ptr-preloader">
              <div class="preloader"></div>
              <div class="ptr-arrow"></div>
            </div>  

            <div class="list-block accordion-list list" style="margin:0;">
                <ul id="inforList" class="msList"></ul>
            </div>
        </div>
    </div>