@charset "utf-8";
@import 'public.scss';
//全局字体颜色

.poverCurve .popover-angle.on-bottom {
    display: none;
}
.md .page>.navbar~.searchbar {
    top: 56px;
}
.md .page>.searchbar~* .page-content, .md .page>.searchbar~.page-content {
    padding-top: 94px !important;
}
.md .searchbar input[type=search], .md .searchbar input[type=text] {
    font-size: 16px;
}
.md .page>.searchbar:after {
    -webkit-transform: scaleY(.33);
    transform: scaleY(.33);
}
.ios .navbar~.page:not(.no-navbar)>.searchbar, .ios .page>.navbar~.searchbar {
    top: 56px;
}
.md .popoverLink .list .list-button::after {
    -webkit-transform: scaleY(.33);
    transform: scaleY(.33);
}
#equips, #equips_en {
    .searchbar {
        &:after {
            height: 1px;
        }
        .search {
            background: #f6f6f6;
        }
        .searchbar-disable-button {
            color: #2d8cf0;
        }
    }
    .ios {
        .searchbar {
            &:after {
                height: 0;
            }
        }
    }
    .equip-list {
        margin-bottom: 30px; // background: #fff; 
        li {
            i {
                color: #7D828F;
                &.noCom {
                    color: #7D828F;
                }
                &.alarm {
                    color: #FE4445;
                }
                &.comOk {
                    color: #54BB5C;
                }
            }
            a{.no-before:before{content: ""!important;};}
        }
        &:before {
            height: 0px !important;
        }
    }
}
.md #ycAndyx .toolbar, .md #ycAndyx_en .toolbar {
    top: auto !important;
    transform: none !important;
}
#ycAndyx, #ycAndyx_en {
    .searchbar {
        background: #fff;
        &:after {
            height: 0px;
        }
        .search {
            background: #f6f6f6;
        }
        .searchbar-disable-button {
            color: #2d8cf0;
        }
    }
    .ios {
        .searchbar {
            &:after {
                height: 0;
            }
        }
    }
    .toolbar {
        z-index: 99;box-shadow: 0 1px 0px 0 rgba(45,46,48,0.2);
        &:after {
            height: 1px;
        }
        .toolbar-inner {
            padding: 0 1rem;overflow: hidden;
            &>a {
                &.tab-link {
                    font-size: 14px;
                    background:  #F5F5F5;
                    border-radius: 12px;
                    padding: 5px 10px;
                    margin-right: 1rem;
                }
                &.tab-link-active {
                   color: white;
                   background: #2D2E30;
                }
            }
        }
    }
    #tabsWrap {
        height: calc(100% - 50px);
        .tab {
            padding: 1rem;
            overflow: auto;
            .oneLine {
                padding: 0.5em 0; margin-bottom: 1rem;
                position: relative;
                .item-title {
                    position: relative;
                    top: 1px;
                }
                .name {
                    padding-right: 5px;
                    max-width: 100%;
                    display: inline-block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .val {
                    font-weight: 600;
                    max-width: 100%;
                    display: inline-block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    position: absolute;
                    right: 5%;
                }
                .iconWrap_left{text-align: left;}
                .iconWrap_center{text-align: center;}
                .iconWrap {
                    i {
                        color: #7D828F;
                        &.icon_liebiao_tubiaotongji {
                            font-size: 18px;
                            color: #3498db;
                        }
                        &.noCom {
                            color: #7D828F;
                        }
                        &.alarm {
                            color: #FE4445;
                        }
                        &.comOk {
                            color: #54BB5C;
                        }
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-color: #c4c4c4;
                    display: block;
                    z-index: 15;
                    top: auto;
                    right: auto;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    -webkit-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    -webkit-transform: scaleY(.33);
                    transform: scaleY(.33);
                }
            }
            &#set {
                text-align: center;
                li {
                    width: 46%;
                    font-size: #{$btnFontSize};
                    color: white;
                    border-radius: #{$unclickBorderRadius};
                    margin-bottom: 10px;
                    margin: 0px 2% 1rem 2%;    
                    float: left;
                    background: #2D2E30;
                    P {
                        margin: 0;
                        height: 44px;
                        line-height: 44px;
                    }
                    &:active {
                        color: #{$btnFontColor};
                        border: 1px solid #{$btnBackground};
                        background: #{$btnBackground};
                    }
                }
            }
        }
    }
}
#eventQuery, #systemConfig, #systemConfig_en {
    .eventQueryContent {
        height: 100%;
        overflow: hidden;
        padding: 1rem;
    }
    .fab {
        a {
            background: $activeBg;
            i {
                font-size: 1.5rem;
            }
        }
    }
    .equipCon {
        height: 100%;
        position: relative;    overflow: hidden;
        .eventWrap {
            position: absolute;
            top: 44px;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .item-title {
            font-size: 14px;
        }
    }
    .tabList {
        margin: 0;
        height: 44px;
        width: 100%;
        box-shadow: 0 1px 0px 0 rgba(45,46,48,0.2);
        border-radius: 0;
        padding: 0 1rem;
        align-items: center;
        align-content: center;
        align-self: auto;
        a {
            overflow: unset;
            color: #333;
            font-size: 14px;
            background: #F5F5F5;
            border-radius: 12px!important;
            padding: 5px 15px;
            margin-right: 1rem;
        }
        .button {
            transition-duration: 0s;
            -webkit-transition-duration: 0;
            border: none;
            &:last-child {
                border-radius: 0;
            }
            &:first-child {
                border-radius: 0;
            }
        }
        .tab-link-active {
            color: white;
            background: #2D2E30;
        }
    }
    .eventWrap {
        width: 100%;
        .tab {
            width: 100%;
            .list {
                height: 100%;
                overflow: auto;
            }
            #equipTable {
                background: transparent;
                padding-bottom: 100px;
                .item-title {
                    color: $titColor;
                }
                li{
                    background: white;overflow: hidden;
                    &>div{flex-direction: row;padding: 0;}
                    .item-title{width: 30%;height: 44px;line-height: 44px;display: inline-block;}
                    .item-input-wrap{width: 70%;height: 44px;line-height: 44px;display: inline-block;}
                }
            }
            .btn {
                margin: 35px auto;
                width: 60%;
            }
        }
        #tab-2,#tab-3,#tab-4{
            ul{padding: 1rem 1rem 50px 1rem;li{background: white;margin-bottom: 0.5rem;}}
        }
       
        li {
            .eventList {
                padding: 5px 0;
                align-items: center;
                .name {
                    color: #757575;
                }
            }
        }
    }
}
.sheet-alarm {
    .block {
        overflow: auto;
        margin: 0 !important;
        .list {
            ul:before {
                height: 0;
            }
        }
    }
}
.sheet-condition-config {
    height: 320px;
    .toolbar-inner {
        background: $preBg;
        border-bottom: 1px solid $lineBg;
    }
    .sheet-modal-inner {
        background: $preBg;
        .block {
            margin: 0;
            height: 100%;
            overflow: hidden;
            .list {
                margin: 10px 0 0 0;
                height: calc(100% - 15px);
                .eq-list {
                    height: 100%;
                    overflow: auto;
                    &:after {
                        height: 0px;
                    }
                }
            }
        }
    }
}
.ios {
    .sheet-condition-config {
        .toolbar:before {
            background-color: $lineBg !important;
            height: 2px;
        }
        a {
            color: $valueColor;
        }
        .eq-list {
            ul:before {
                height: 0;
            }
            i.icon-checkbox {
                border-radius: 0;
            }
        }
    }
    .popup-condition-config {
        .searchbar {
            background: #fff;
        }
    }
}
.md {
    .sheet-condition-config {
        .toolbar {
            transform: none;
        }
        a {
            color: $valueColor;
        }
    }
}
#sysConfigEdict, #sysConfigEdict_en {
    .item-input-wrap {
        border-bottom: none;
    }
    .page-content {
        .list {
            margin: 0 0;
            height: 100%;overflow: hidden;
            &.edictList {
                .btn {
                    width: 95%;
                    margin: 0 auto;
                    margin-top: 20px;
                    .button {
                        width: 45%;
                        float: left;
                        border: 1px solid #2196f3;
                        &.button-fill {
                            float: right;
                        }
                    }
                }
            }
            ul {
                height: 100%;
                padding-bottom: 100px;
                overflow: auto;
                li{
                    background: white;overflow: hidden;
                    &>div{flex-direction: row;padding: 0;}
                    .item-title{width: 30%;height: 44px;line-height: 44px;display: inline-block;}
                    .item-input-wrap{width: 70%;height: 44px;line-height: 44px;display: inline-block;}
                }
                &:after {
                    height: 0px;
                }
                .item-title {
                    color: $titColor;
                }
                .item-after {
                    color: $valueColor;
                    max-width: 60%;
                    white-space: normal;
                    word-break: break-all;
                }
            }
            .btn {
                margin: 15px 0;
                div {
                    width: 60%;
                    margin: 0 auto;
                }
            }
        }
    }
}
#equipConfigList {
    .content-wrap {
        height: calc(100% - 5px);
        margin: 0;
        padding: 0;
        .sele-tile {}
        .searchbar {
            box-shadow: 0px 0px 0px transparent;
            margin: 0;
            &:after {
                height: 0;
            }
        }
    }
    .list {
        margin: 0;
        ul {
            &:after {
                height: 0;
            }
            margin-bottom: 50px;
            li {
                .icon-checkbox {
                    border-radius: 0;
                }
            }
        }
    }
}
#equipConfigList_en, #equipConfigList {
    .equipConfigList_container {
        width: 100%;
        height: 100%;
        margin: 0;
        .equipConfigList_en_header {
            form {
                background: transparent;
            }
        }
        .eq-list {
            height: 100%;position: relative;padding: 1rem;
            p{color: #333;height: 40px;line-height: 40px;}
            &>div{
                height: 100%;overflow: auto;
                ul{li{margin-bottom: 0.5rem;}}
            }
        }
    }
}
.visibilitySelect {
    visibility: hidden;
}
//2-N级列表
#equipsDetails{
  .equipsDetails-equip-list{
    padding: 1rem;
    li{
        background: white;margin-bottom: 0.5rem;
        i {
            color: #7D828F;
            &.noCom {
                color: #7D828F;
            }
            &.alarm {
                color: #FE4445;
            }
            &.comOk {
                color: #54BB5C;
            }
        }
        a{.item-inner:before{content: ""!important;};}
    }
  }
}

