  //搜索页头
  .searchInput {
    position: relative;
    input{
      font-size: 14px!important;
      padding-left: 3rem!important;
      background: #eee!important;
      width: 100%;
      height: 35px;
      border-radius: 6px;
     }
      i {
          font-size: 1.5rem;
          position: absolute;left: 0.25rem;top: 0.25rem;
      }
  }

  .searchContainer {
    overflow: hidden;
    section{
      width: 100%;height: 110%;padding: 1rem;
      .searchContainer-searchResult{
          width: 100%;height: 100%;position: relative;
          h3{height: 30px;color: #2D2E30;}
          &>div{
            position: absolute;left: 0;top: 30px;right: 0;bottom: 0;margin: 0;overflow-y: auto;padding-bottom: 20%;
          }
      }
    }
  }

  //搜索定制内容
  .searchContainer{
    .snapshot-ul {li a{background: white;}}
    .media-list{li{ i{font-size: 2rem;}}}
    .snapshotMessage-ul {li{ 
      background: white;
      margin-bottom: 0.5rem;
      .confirmed{color: green;}
      .notConfirmed{color: red;}
    }}

  //设备列表
  .equip-list,.equipsDetails-equip-listbreak {
        margin-bottom: 30px; // background: #fff; 
        li {
            i {
                color: #7D828F;
                &.noCom {
                    color: #7D828F;
                }
                &.alarm {
                    color: #FE4445;
                }
                &.comOk {
                    color: #54BB5C;
                }
            }
            a{.no-before:before{content: ""!important;};}
        }
        &:before {
            height: 0px !important;
        }
    } 
  }