<div class="page page-with-subnavbar" data-page="equipsDetails" id="equipsDetails">
    <div class="navbar">
        <div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"> </i>
                </a>
            </div>
            <div class="title sliding title_1" >
                Framework7
            </div>
            <div class="right">
                <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
                    <i class="icon iconfont icon_Nav_sousuo"></i>
                </a>
            </div>
            <div class="title-large">
                <div class="title-large-text title_1">
                    Framework7
                </div>
            </div>
            <form class="searchbar searchbar-expandable searchbar-components searchbar-init" data-search-container=".components-list" data-search-in="a">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input class="" placeholder="Search components" type="search">
                            <i class="searchbar-icon">
                            </i>
                            <span class="input-clear-button">
                            </span>
                        </input>
                    </div>
                    <span class="searchbar-disable-button if-not-aurora">
                        Cancel
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content pageContent_86" >
        <div class="list-block list-page list equipsDetails-equip-list" style="margin:0;">
            <ul class="equipsDetails-searchbar-found">
            </ul>
        </div>
    </div>
</div>