<div class="page" data-page="equips" id="equips">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1">设备列表</div>
            <div class="right">
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="icon iconfont icon_Nav_sousuoshebei title_1"></i> 
                    <p class="title_4">搜索设备</p>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content  equipPageContent" >
        <div class="list-block list-page list" style="margin:0;">
            <ul class="equip-list searchbar-found">
            </ul>
        </div>
    </div>
</div>