
    <div class="page" data-page="equipConfigList" id="equipConfigList">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left sliding auth_name_get title_1">系统配置</div>
                <div class="right">
                <a href="/search/#equipConfigList"> 
                    <i class="icon iconfont icon_Nav_sousuoshebei title_1"></i> 
                    <p class="title_4">搜索设备</p>
                </a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="block content-wrap equipConfigList_container">
                <div class="eq-list">
                    <p class="title_2">设备列表</p>
                    <div class="list links-list">
                      <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="popup popup-condition">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding title ">
                设备选择
            </div>
            <div class="right">
                <a class="link popup-close" href="#">
                    关闭
                </a>
            </div>
        </div>
    </div>
</div>
