<div class="page" data-page="equipLinkage" id="equipLinkage">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1">设备联动</div>
            <div class="right">
                <a href="#" onclick='newlyBuildLinkage(" ",2);'  TrID="getMaxID_en()" TrRow = ""> 
                    <i class="icon iconfont icon_Nav_xinjianliandong title_1"></i> 
                    <p class="title_4">新增联动</p>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="equipLinkageContainer">
            <div class="equipLinkageContent">
                <section class="equipGroupPublic" id="equipLinkage_set">
                    <ul class="publicTable">
                    </ul>
                </section>
            </div>
        </div>
    </div>
    
</div>