<div class="page" data-page="equipSearchDetail" id="equipSearchDetail">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1">设备事件详情</div>
            <div class="right">
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                    <p class="title_4">扫一扫</p>
                </a>
            </div>
        </div>
    </div>



	<div class="page-content equipSearchDetailContent">
		<div class="list eventDetailList">
			<ul>
			</ul>
		</div>
	</div>
</div>