<div class="page" data-page="eventSearch" id="eventSearch">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1">事件查询</div>
            <div class="right">
                <a href="#"  class="link popup-open"  data-popup=".popup-about"> 
                    <i class="icon iconfont icon_Nav_shaixuan title_1"></i> 
                    <p class="title_4">筛选事件</p>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content eventSearchPageContent ">
        <div class="eventSearchContent">

          <div class="list media-list">

            </div>
    </div>
</div>

<div class="popup popup-about popup-public">
    <div class="publicHeader">
        <div class="publicHeader-back popup-close" ><i class="icon iconfont icon_Nav_guanbi"></i></div>
        <span>筛选事件</span>
    </div>
    <section>
        <div class="popoverEventSearch">
             <h4><span>事件跨度</span></h4>
             <div class="row popoverEventSearch-head">
                 <div class="col-50">
                   <fieldset>
                      <legend>开始时间</legend>
                      <input type="text" placeholder="选择开始时间" readonly="readonly" id="startTime" />
                    </fieldset>
                 </div>
                 <div class="col-50">
                     <fieldset>
                          <legend>结束时间</legend>
                          <input type="text" placeholder="选择结束时间" readonly="readonly" id="endTime"  />
                     </fieldset>
                 </div>
             </div>
             <h4 style="margin-top: 2rem;"><span>设备事件</span></h4>
             <div class="row popoverEventSearch-footer">
                 <div href="#" class="col-50">
                      <input type="text" placeholder="Select date" readonly="readonly" id="searchAllEquip" onclick="eventSearchallEquip(1,this)"/>
                 </div>
                 <div href="#" class="col-50">
                      <input type="text" placeholder="Select date" readonly="readonly" id="searchAllEvent" onclick="eventSearchallEquip(2,this)"/>
                 </div>
             </div>
        </div>
        <a href="#" class="eventSearchConfirm" onclick="searchEquipItems()">确认</a>
    </section>
</div>
