<!DOCTYPE html>
<html class="with-statusbar">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover" name="viewport">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="0" http-equiv="Expires">
        <meta content="no-cache" http-equiv="Pragma">
        <meta content="no-cache" http-equiv="Cache-control">
        <meta content="no-cache" http-equiv="Cache">
        <title>AlarmCenter | 首页</title>
        <link href="/Image/logo.png" rel="icon" type="image/x-icon" />
        <link href="/Scripts/plug/1.5.0/framework7.bundle.css" rel="stylesheet" type="text/css" />
        <link href="//at.alicdn.com/t/font_1265750_jr1ihtwdq3k.css" rel="stylesheet" type="text/css"/>
        <link class="whiteColor" href="/Styles/Mobile/back/framework.css" rel="stylesheet"/><!--皮肤-->
        <link href="/Styles/Mobile/gw.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="app" style="visibility: hidden;">
            <div class="statusbar"></div>
            <div class="view view-main">
                <div class="page" data-page="home" id="home">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="left sliding auth_name_get title_1"></div>
                            <div class="right">
                                <a href="#" onclick="RichScan()" id="scan"> 
                                    <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                                    <p class="title_4">扫一扫</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content mainDiv">
                        <div id="homeContents">
                            <ul class="charts-block">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="toolbar toolbar-bottom view-menu-toolbar tabbar tabbar-labels displayNone">
                    <div class="toolbar-inner row no-gap">
                        <a class="link active animation-no col-20" href="/home/" id="homeTool">
                            <img src="/Image/homeIcon.png" alt="" />
                        </a>
                        <a class="link animation-no col-20"  href="/equips/" id="equipsTool">
                            <img src="/Image/equipIcon.png" alt="" />
                        </a>
                        <a class="link col-20"  href="#" id="voiceBtn" onclick="voiceSheet()">
                            <div class="video-content-btn">
                                <div>
                                    <img src="/Image/phone/voiceBtn.png"/>
                                </div>
                            </div>
                        </a>
                        <a class="link animation-no col-20" href="#" id="functionalModule_pageTool" onclick="functionalModule_page()">
                            <img src="/Image/funmoduleIcon.png" alt="" />
                        </a>
                        <a class="link animation-no col-20"  href="/setPage/" id="setPageTool">
                            <img src="/Image/setIcon.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 框架js -->
        <script src="/Scripts/plug/jquery-3.3.1.min.js"></script>
        <script charset="utf-8" src="/Scripts/mobile/gw.js" type="text/javascript"></script>
        <script src="/Scripts/plug/highcharts.js"></script>
        <script src="/Scripts/plug/1.5.0/framework7.bundle.min.js" type="text/javascript"></script>
        <script src="/Scripts/plug/jquery.signalR-2.1.2.min.js" type="text/javascript"></script>
        <!-- 配置js -->
        <script src="/Scripts/mobile/dataConfig.js" type="text/javascript"></script>
        <!-- 移动端入口js-->
        <script src="/Scripts/mobile/home.js" type="text/javascript"></script>
        <script src="/Scripts/mobile/mobileAll.js" type="text/javascript"></script>
        <script src="/Scripts/mobile/alert.js" type="text/javascript"></script>
        <script src="/Scripts/mobile/js/Voice.js" type="text/javascript"></script>
        <script src="http://api.map.baidu.com/api?v=2.0&ak=rfoFCQF6wWFKVgnW7M9dihXscceje5cs" type="text/javascript"></script>

    </body>
</html>