<div class="page no-toolbar" data-page="personnelManagement" id="personnelManagement">

    <div class="navbar navbar-large">
        <div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"> </i>
                </a>
            </div>
            <div class="title sliding title_1" >
                人员管理
            </div>
            <div class="right">
              <a  href='/scheduleModify/?title=新增排表&table=NewlyBuildTableUser'>
                    <i class="icon iconfont icon_Nav_tianjia"> </i>
                </a>
            </div>
            <div class="title-large">
                <div class="title-large-text title_1">
                    人员管理
                </div>
            </div>
        </div>
    </div>

    <div class="page-content personnelManagementPageContent pageContent_102 pageContent_0">
     <div class="list-block list-page list">
        <ul></ul>
     </div>      
    </div>
</div>

