<div class="page" data-page="pptDetails" id="pptDetails">

    <div class="navbar navbar-large">
        <div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"> </i>
                </a>
            </div>
            <div class="title sliding title_1" >
                PPT
            </div>
            <div class="right">
            </div>
            <div class="title-large">
                <div class="title-large-text title_1 pptDetails-title">
                    PPT
                </div>
            </div>

        </div>
    </div>

    <div class="page-content tabs-animated-wrap mettingDetailsContent pageContent_102">
        <article class="mettingDetailsContent">
            <div class="swiper-custom">
                <h3 class="detailsTiTle"></h3>
                <div class="swiper-container mettingDetails swiper-3">
                    <div class="viewsPng">
                        <img class="setviewPng" src="">
                            <a class="closeppt closeFile activeBackground" href="#" set_equip="4001" set_id="7" set_no="7">
                                关闭
                            </a>
                        </img>
                    </div>
                    <div class="swiper-wrapper mettingDetails_index">
                    </div>
                </div>
                <div class="mettingDetailsBottom row">
                    <div>
                        <a class="startPage" href="#" id="startPage" set_equip="4001" set_id="5" set_no="5">
                        </a>
                        <a class="prePage" href="#" id="prePage" set_equip="4001" set_id="2" set_no="2">
                        </a>
                        <a class="nextPage" href="#" id="nextPage" set_equip="4001" set_id="3" set_no="3">
                        </a>
                        <a class="endPage" href="#" id="endPage" set_equip="4001" set_id="6" set_no="6">
                        </a>
                    </div>
                </div>
            </div>
            <div class="displayNone modalDiv">
                <span class="preloader preloader-white">
                </span>
            </div>
            <div class="abc123" style="position: absolute;left: 0;top: 13%;color: white;">
                <label>
                </label>
                <span>
                </span>
            </div>
        </article>
    </div>
</div>
