<div class="page" data-page="pptSelection" id="pptSelection">


        <div class="navbar">
            <div class="navbar-inner">
                <div class="left sliding auth_name_get title_1" >PPT</div>
                <div class="right">
                    <a href="#" onclick="RichScan()" id="scan"> 
                        <i class="icon iconfont icon_Nav_saoyisao title_1"></i> 
                        <p class="title_4">扫一扫</p>
                    </a>
                </div>
            </div>
        </div>




    <div class="page-content tabs-animated-wrap mettingPPTContent">
        <div id="Filelist">
            <h3 class="listTitle bottomBorderLine">
                文件列表
            </h3>
            <div class="row pptFileSelectContent">
                <div class="col-50" dataset = "1">
                    <p>PowerPoint</p>
                    <label>4项</label>
                    <i class="iconfont icon-file"></i>
                </div>
                <div class="col-50" dataset = "2">
                    <p>移动存储</p>
                    <label>4项</label>
                    <i class="iconfont icon-file"></i>
                </div>
            </div>
        </div>

        <div class="pptActive">
            <h3 class="listTitle bottomBorderLine" style="font-size: 1rem;">
                最后打开文件
            </h3>
        </div>
        <div class="displayNone modalDiv">
            <span class="preloader preloader-white">
            </span>
        </div>
    </div>
</div>
