<div class="page " data-page="schedule" id="schedule">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1" >报警排表</div>
            <div class="right" style="width: auto;">
                <a href="#" onclick='newlyBuildTable()'> 
                    <i class="icon iconfont icon_Nav_xinzengshijian title_1"></i> 
                    <p class="title_4">新增排班</p>
                </a>
                <a href="#" onclick='otherFun()'> 
                    <i class="icon iconfont icon_Nav_xinjianchangjing title_1"></i> 
                    <p class="title_4">其它功能</p>
                </a>                                         
            </div>
        </div>
    </div>

    <div class="page-content schedulePageContent">
        <div class="scheduleContainer">

            <div id="scheduleContainer-picker-header" >
                
            </div>
            <h2 class="title_2"><span></span>年<span></span>月<span></span>日 排表</h2>
            <div id="scheduleContainer-picker-container" class="list-block list-page list">
                <ul>

                </ul>              
            </div>

            
            <!-- <div class="subnavbarTabel row no-gap">
                <a class="col-20 selectScheduleMenu" href="#schedule_user">
                    人员
                </a>
                <a class="col-20" href="#schedule_equip">
                    设备分组
                </a>
                <a class="col-20" href="#schedule_administartor">
                    管理范围
                </a>
                <a class="col-20" href="#schedule_specificDate">
                    周排表
                </a>
                <a class="col-20" href="#schedule_weeklytable">
                    特定排表
                </a>
            </div>
            <div class="scheduleContent">
                <section class="row equipGroupPublic" id="schedule_user">
                    <ul class="publicTable"></ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_equip">
                    <ul class="publicTable"></ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_administartor">
                    <ul class="publicTable"></ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_specificDate">
                    <ul class="publicTable"></ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_weeklytable">
                    <ul class="publicTable"></ul>
                </section>
                <div class="scheduleRightBottomBtn transformReportingMenu">
                    <a class="link" href="#" id="schedule_user_nav">
                        <span>
                            <button onclick='newlyBuildUser(" "," "," "," "," ",2);'>
                                新增人员
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_equip_nav">
                        <span>
                            <button onclick='equipAlert("",4);'>
                                新增设备
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_administartor_nav">
                        <span>
                            <button onclick='newlyBuildAlmReport("",2);'>
                                新增管理
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_specificDate_nav">
                        <span>
                            <button onclick='newlyBuildWeekAlmReport("",2);'>
                                新增周排
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_weeklytable_nav">
                        <span>
                            <button onclick='newlyBuildSpeAlmReport("",2);'>
                                新增特排
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</div>
