<div class="page no-toolbar" data-page="scheduleModifyChild" id="scheduleModifyChild">

    <div class="navbar navbar-large">
        <div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"> </i>
                </a>
            </div>
            <div class="title sliding title_1" >
                内容修改
            </div>
            <div class="right">
                
            </div>
            <div class="title-large">
                <div class="title-large-text title_1">
                    内容修改
                </div>
            </div>
        </div>
    </div>



    <div class="page-content scheduleModifyPageContent pageContent_102 pageContent_0">
        <!-- 场景控制项目 -->
        <div class="scheduleModifyContainer equipLinkage_edit_modify_child list" >
           <ul>
              <li class="row equipLinkage_edit_modify_childFirst bottomBorderLine">
                    <div class="col-50 selectedIcorlor" div_attribute="equipLinkage_edit_modify_childSecond">
                      <i class="icon iconfont icongouxuan"></i> 控制设备
                    </div>
                    <div class="col-50" div_attribute="equipLinkage_edit_modify_childThree">
                      <i class="icon iconfont icongouxuan"></i> 设置延迟
                    </div>
              </li>
              <li class="equipLinkage_edit_modify_childSecond bottomBorderLine row">

                    <div class="col-40">选择控制设备</div>
                    <div class="col-60">
                    <input type="text" class="addEquipInfo" placeholder="请选择要添加的设备" readonly="true" />
                    </div>

              </li>
              <li class="equipLinkage_edit_modify_childThree displayNone bottomBorderLine row">

                    <div class="col-40">时长(ms):</div>
                    <div class="col-60 ">
                      <input type="number" placeholder="输入毫秒数"   class="equipLinkage_edit_modify_child_time" />
                    </div>
              </li>
           </ul>
           <div class="row linkageBtn">
          <a class="col-50 comfirmModify comfirmCancel color-red back">取消</a>
          <a class="col-50 comfirmModify" onclick="comfirmScaneControl()">确认</a>
        </div>
        </div> 
    </div>
</div>

