
<div data-page="scheduleSearch" class="page" id="scheduleSearch">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"></i>
                </a>
            </div>
            <div class="title sliding title_1 auth_name_get" id="scheduleSearchTitleId">
            </div>
            <div class="right">

            </div>
            <div class="title-large">
                <div class="title-large-text title_1 auth_name_get">
                    排班搜索
                </div>
            </div>
        </div>
    </div>

    <div class="page-content pageContent_102 snapashotMessage-page-content" >
        <div class="scheduleSearch-main">
            <div class="snashot-header">
                <a href="#" class="selectListType" data-menu="1">全部排班</a>
                <a href="#" data-menu="2">特定排班</a>
                <a href="#" data-menu="3">每周排班</a>
            </div>
            <div class="title-large search-title-large">
                <div class="title-large-text title_1 searchInput">
                    <input placeholder="请输入查询内容" type="text">
                    <i class="icon iconfont icon_Nav_sousuoshebei"></i>
                </div>
            </div>
            <div class="list-block list-page list" id="scheduleSearchContainer">
                <ul class="snapshotMessage-ul searchbar-found" id="scheduleSearchListId"></ul>
            </div>
        </div>
    </div>
</div>