<div class="page no-toolbar" data-page="scheduleModify" id="scheduleModify">


    <div class="navbar navbar-large">
        <div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"> </i>
                </a>
            </div>
            <div class="title sliding title_1" >
                新增场景
            </div>
            <div class="right">
                
            </div>
            <div class="title-large">
                <div class="title-large-text title_1">
                    新增场景
                </div>
            </div>
        </div>
    </div>

    <div class="page-content scheduleModifyPageContent pageContent_102 pageContent_0">
        <div class="scheduleModifyContainer scheduleModifyContainer_user list displayNone">
          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">人员姓名</div>
                  <div class="item-input-wrap">
                    <input type="text" name="name" placeholder="你的姓名" class="schedule1_username" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">电话号码</div>
                  <div class="item-input-wrap">
                    <input type="text" name="email" placeholder="你的电话号码" class="schedule1_hpone" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">短信号码</div>
                  <div class="item-input-wrap">
                    <input type="text" name="email" placeholder="你的短信号码" class="schedule1_msm" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">电子邮箱</div>
                  <div class="item-input-wrap">
                    <input type="email" name="email" placeholder="你的电子邮箱" class="schedule1_email" />
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">报警级别</div>
                  <div class="item-input-wrap">
                    <input type="number" name="email" placeholder="报警级别" class="schedule1_level">
                  </div>
                </div>
              </div>
            </li>                        
          </ul>
          <button class="comfirmModify comfirmCancel color-red" onclick="myApp.router.back();">取消</button>
          <button class="comfirmModify" onclick="updateUserModify(this)">保存</button>
        </div>  
       <!-- 分组 -->
        <div class="scheduleModifyContainer scheduleModifyContainer_equipgroup list displayNone" >
           <div></div>
          <button class="comfirmModify comfirmCancel color-red" onclick="myApp.router.back();">取消</button>
          <button class="comfirmModify" onclick="updateEquip(this)">保存</button>
        </div>  
       <!-- 管理范围 -->
        <div class="scheduleModifyContainer scheduleModifyContainer_administartor list displayNone" >
           <ul>
               <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">人员姓名</div>
                   <div class="item-input-wrap">
                    <select name="gender" class="scheduleModifyContainer_administartor_user">
   
                    </select>
                  </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">分组名称</div>
                    <div class="item-input-wrap">
                    <select name="gender" class="scheduleModifyContainer_administartor_group">
   
                    </select>
                  </div>
                  </div>
                </div>
              </li>
           </ul>
          <button class="comfirmModify comfirmCancel color-red" onclick="myApp.router.back();">取消</button>
          <button class="comfirmModify" onclick="updateAlmReport(this)">保存</button>
        </div>  
         <!-- 周排表 -->
        <div class="scheduleModifyContainer scheduleModifyContainer_specificDate list displayNone">
           <ul>
               <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">人员姓名</div>
                    <div class="item-input-wrap">
                    <select name="gender" class="scheduleModifyContainer_specificDate_username">

                    </select>
                  </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">星期</div>
                    <div class="item-input-wrap">
                    <select name="gender" class="scheduleModifyContainer_specificDate_wk">
                      <option value="0" selected>每天</option>
                      <option value="2">星期一</option>
                      <option value="3">星期二</option>
                      <option value="4">星期三</option>
                      <option value="5">星期四</option>
                      <option value="6">星期五</option>
                      <option value="7">星期六</option>
                      <option value="1">星期日</option>
                    </select>
                  </div>
                  </div>
                </div>
              </li>
               <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">开始时间</div>
                    <div class="item-input-wrap">
                      <input type="text" name="stime" placeholder="00:00" value="00:00" class="scheduleModifyContainer_specificDate_stime">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">结束时间</div>
                    <div class="item-input-wrap">
                      <input type="text" name="etime" placeholder="00:00"  value="00:00" class="scheduleModifyContainer_specificDate_etime">
                    </div>
                  </div>
                </div>
              </li>                           
           </ul>
          <button class="comfirmModify comfirmCancel color-red" onclick="myApp.router.back();">取消</button>
          <button class="comfirmModify" onclick="updateWeekAlmReport(this)">保存</button>
        </div>  
        <!-- 特定排表 -->
        <div class="scheduleModifyContainer scheduleModifyContainer_weeklytable list displayNone" >
           <ul>
               <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">人员姓名</div>
                    <div class="item-input-wrap">
                    <select name="gender" class="scheduleModifyContainer_weeklytable_username">

                    </select>
                  </div>
                  </div>
                </div>
              </li>
               <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">开始日期</div>
                    <div class="item-input-wrap">
                      <input type="text" name="name" placeholder="开始日期" class="scheduleModifyContainer_weeklytable_stime" id="Spe_stime">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">结束日期</div>
                    <div class="item-input-wrap">
                      <input type="email" name="email" placeholder="结束日期" class="scheduleModifyContainer_weeklytable_etime" id="Spe_etime">
                    </div>
                  </div>
                </div>
              </li>                           
           </ul>
          <button class="comfirmModify comfirmCancel color-red" onclick="myApp.router.back();">取消</button>
          <button class="comfirmModify" onclick="updateSpeAlmReport(this)">保存</button>
        </div>  
        <!-- 场景编辑 -->
        <div class="scheduleModifyContainer equipLinkage_edit_modify list displayNone" >
           <div class="equipLinkage_edit_header">
               <div class="row">
                  <label class="col-30">场景名称</label>
                  <span class="col-70"><input type="text" value="" placeholder="点击输入场景名称"  id="equipLinkage_input"/></span>
               </div>
               <div class="row">
                  <label class="col-30">场景控制项</label>
                   <span class="col-70"><a href="#" onclick="scenalControlPro(this)" index="last">添加</a></span>
               </div>               
           </div>
           <ul></ul>
           <div class="row linkageBtn">
              <a class="col-50 comfirmModify comfirmCancel color-red back">取消</a>
              <a class="col-50 comfirmModify" onclick="submitScene(this)">保存</a>
          </div>
        </div>  
    </div>
</div>

