<div class="page" data-page="setPage" id="setPage">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get title_1">
                设置
            </div>
            <div class="right">
                <a href="#" onclick="onUserLogout()">
                    <i class="icon iconfont icon_Nav_tuichudenglu title_1">
                    </i>
                    <p class="title_4">
                        退出登录
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content setPageContainer">
        <div class="list simple-list">
            <ul>
                <li>
                    <a class="item-link item-content" href="#">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon iconfont icon_liebiaoleixing_zhanghao">
                                </i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    当前用户
                                </div>
                                <div class="item-after">
                                    admin
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link smart-select smart-select-init" data-page-back-link-text="" href="#" id="voiceList" onchange="onVoiceList()">
                        <select name="voiceTop">
                            <option data-value="0" selected="selected" value="0">
                                讯飞
                            </option>
                            <option data-value="1" value="1">
                                微软
                            </option>
                        </select>
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon iconfont iconyuyin">
                                </i>
                            </div>
                            <div class="item-inner" id="voiceListName">
                                <div class="item-title">
                                    语音服务
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
<!--                 <li>
                    <a class="item-link smart-select smart-select-init" data-page-back-link-text="" href="#" id="languageList" onchange="selectLanguage()">
                        <select name="languageTop">
                            <option selected="selected" value="0">
                                中文
                            </option>
                            <option value="1">
                                英文
                            </option>
                        </select>
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon iconfont icon_liebiaoleixing_xitongyuyan">
                                </i>
                            </div>
                            <div class="item-inner" id="languageListName">
                                <div class="item-title">
                                    语言
                                </div>
                            </div>
                        </div>
                    </a>
                </li> -->
                <li>
                    <a class=" item-content" href="#">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon iconfont icon_liebiaoleixing_yejianmoshi">
                                </i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    夜间模式
                                </div>
                                <div class="item-content">
                                    <label class="toggle toggle-init color-green" id="transformBg">
                                        <input type="checkbox">
                                            <span class="toggle-icon">
                                            </span>
                                        </input>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link item-content" href="#" onclick="onAppCacheClear()">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon iconfont icon_liebiaoleixing_qingkonghuancun">
                                </i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    清空缓存
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="item-link item-content" href="#" onclick="onAbout()">
                        <div class="item-content">
                            <div class="item-media">
                                <i class="icon iconfont icon_liebiaoleixing_guanyu">
                                </i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">
                                    关于
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
