<div class="pages">
    <div class="page no-toolbar" data-page="sysConfigEdict" id="sysConfigEdict">
        <div class="navbar">
            <div class="navbar-inner navbar-inner-large navbar-current">
                <div class="left">
                    <a class="back" href="#">
                        <i class="icon iconfont icon_Nav_fanhui">
                        </i>
                    </a>
                </div>
                <div class="title sliding title_1" style="left: 0px;">
                    系统配置
                </div>
                <div class="right">
                    <a class="link" href="#" onclick="upInforEdict()">
                        提交
                    </a>
                </div>
                <div class="title-large">
                    <div class="title-large-text title_1">
                        系统配置
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content pageContent_102 pageContent_0">
            <div class="list edictList no-hairlines-md">
                <ul>
                </ul>
            </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-paln">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <div class="left">
                        <a class="link sheet-close" href="#">
                            取消
                        </a>
                    </div>
                    <div class="right">
                        <a class="link sheet-close" href="#">
                            确定
                        </a>
                    </div>
                </div>
            </div>
            <div class="sheet-modal-inner">
                <div class="block">
                    <div class="list">
                        <ul class="eq-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-zichan">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <div class="left">
                        <a class="link sheet-close" href="#">
                            取消
                        </a>
                    </div>
                    <div class="right">
                        <a class="link sheet-close" href="#">
                            确定
                        </a>
                    </div>
                </div>
            </div>
            <div class="sheet-modal-inner">
                <div class="block">
                    <div class="list">
                        <ul class=" eq-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-video">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <div class="left">
                        <a class="link sheet-close" href="#">
                            取消
                        </a>
                    </div>
                    <div class="right">
                        <a class="link sheet-close" href="#">
                            确定
                        </a>
                    </div>
                </div>
            </div>
            <div class="sheet-modal-inner">
                <div class="block">
                    <div class="list">
                        <ul class=" eq-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
