<div class="page no-toolbar" data-page="VideoDetails" id="VideoDetails">
    <div class="navbar navbar-large">
        <div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
                <a class="back" href="#">
                    <i class="icon iconfont icon_Nav_fanhui"> </i>
                </a>
            </div>
            <div class="title sliding title_1" >
                实时视频
            </div>
            <div class="right">
            </div>
            <div class="title-large">
                <div class="title-large-text title_1">
                    实时视频
                </div>
            </div>
        </div>
    </div>

    <div class="page-content pageContent_102 pageContent_0" id="VideoDetails_content_ref">
        <div class="list accordion-list list-page">
            <ul id="VideoDetails_tree">
            </ul>
        </div>
    </div>
</div>
