<div data-page="ycAndyx" class="page  page-with-subnavbar" id="ycAndyx">

      <div class="navbar">
      	<div class="navbar-inner navbar-inner-large navbar-current">
            <div class="left">
              <a href="#" class="back" >
                <i class="icon iconfont icon_Nav_fanhui"> </i>
              </a>
            </div>
            <div class="title sliding title_1" style="left: 0px;">Framework7</div>
            <div class="right">
              <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components" style="line-height: 59px;">
                <i class="icon iconfont icon_Nav_sousuo"></i>
              </a>
            </div>
            <div class="title-large">
              <div class="title-large-text title_1">Framework7</div>
            </div>
            <form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
              <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                  <input type="search" placeholder="Search components" class="">
                  <i class="searchbar-icon"></i>
                  <span class="input-clear-button"></span>
                </div>
                <span class="searchbar-disable-button if-not-aurora">Cancel</span>
              </div>
            </form>
          </div>
      </div>

	<div class="page-content ycAndyxPageContent pageContent_102" >

		<div class="searchbar-backdrop "></div>
		<div class="toolbar tabbar toolCon">
			<div class="toolbar-inner tabCon"></div>
		</div>
		<div class="tabs-animated-wrap" id="tabsWrap">
			<div class="tabs " id="tabs">
				<ul id="ycp" class="tab tab-active"></ul>
				<ul id="yxp" class=" tab"></ul>
				<ul id="set" class="tab row"></ul>
			</div>
		</div>

	</div>

</div>